/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1951 {
    padding: var(--sectionPadding);
    background-color: #fff;
    padding-top: 10rem;
    position: relative;
    z-index: 0;
  }
  #hero-1951 .cs-container {
    width: 100%;
    /* changes to 1280px on desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #hero-1951 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #hero-1951 .cs-title {
    /* 31px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
  }
  #hero-1951 .cs-text {
    margin-bottom: 1.25rem;
    z-index: 10;
    width: 100%;
  }
  #hero-1951 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 10;
  }
  #hero-1951 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1951 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1951 .cs-reviews {
    text-align: center;
    margin-top: clamp(2.5rem, 5vw, 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #hero-1951 .cs-reviews-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #hero-1951 .cs-reviews-img {
    width: 3rem;
    height: auto;
    margin: 0 -1rem 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  #hero-1951 .cs-reviews-number {
    font-size: 1rem;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1951 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  #hero-1951 .cs-rating {
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #hero-1951 .cs-rating-icon {
    width: 1rem;
    height: auto;
    margin: 0 0.25rem;
  }
  #hero-1951 .cs-reviews-text {
    font-size: clamp(0.875rem, 1.75vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #hero-1951 .cs-image-group {
    font-size: min(2.3vw, 1rem);
    width: 100%;
    height: auto;
    z-index: 1;
  }
  #hero-1951 .cs-picture {
    width: 80%;
    height: 40%;
    margin: auto;
    position: absolute;
    bottom: -120px;
    right: 0;
    z-index: 1;
  }
  #hero-1951 .cs-picture img {
    height: 70%;
    object-fit: contain;
    position: absolute;
    top: 15%;
    left: 0;
    z-index: -5;
  }
  #hero-1951 .cs-icon {
    width: 12.6875em;
    height: auto;
    position: absolute;
    top: 0;
    left: 13.125em;
  }
  #hero-1951 .cs-right {
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
  }
  #hero-1951 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1951 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: top;
    position: absolute;
    top: 0;
    right: 50;
  }
  #hero-1951 .cs-bg {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  #hero-1951 .cs-bg img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1951 {
    padding-top: 15rem;
  }
  #hero-1951 .cs-content {
    text-align: left;
    align-items: flex-start;
    width: 50%;
  }
  #hero-1951 .cs-reviews {
    text-align: left;
    flex-direction: row;
  }
  #hero-1951 .cs-text {
    width: 100%;
  }
  #hero-1951 .cs-picture {
    max-height: 500px;
    max-width: 500px;
    margin: 0;
    overflow: hidden;
    display: block;
    top: 40%;
    position: absolute;
    z-index: 1;
  }
  #hero-1951 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1951 .cs-container {
    max-width: 75%;
    flex-direction: row;
    align-items: stretch;
  }
  #hero-1951 .cs-content {
    text-align: left;
    /* 48px - 80px */
    align-items: flex-start;
    align-self: center;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 100rem) {
  #hero-1951 .cs-container {
    max-width: 75%;
    flex-direction: row;
    align-items: stretch;
  }
  #hero-1951 .cs-content {
    text-align: left;
    /* 48px - 80px */
    padding: clamp(3rem, 6vw, 5rem) 0;
    align-items: flex-start;
    align-self: center;
  }
  #hero-1951 .cs-picture {
    max-height: 750px;
    max-width: 900px;
    margin: 0;
    margin-left: 4rem;
    overflow: hidden;
    display: block;
    top: 40%;
    right: 10%;
    position: absolute;
    z-index: 1;
  }
}
/*-- -------------------------- -->
<---           Modal            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-modal-1605 {
    padding: var(--sectionPadding);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 0.3s, visibility 0.3s;
    transition-delay: 0.3;
  }
  #cs-modal-1605.cs-loaded {
    /* when the page finishes loading, the JS will add this class to the cs-modal which will then animate into existence */
    opacity: 1;
    visibility: visible;
  }
  #cs-modal-1605.cs-loaded .cs-wrapper {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-modal-1605.cs-closed {
    opacity: 0;
    visibility: hidden;
    z-index: -1000;
  }
  #cs-modal-1605 .cs-wrapper {
    width: 100%;
    /* changes to 846px at tbalet */
    max-width: 25rem;
    background-color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    transform: translateY(12.25rem);
    transition: transform 0.7s, opacity 0.3s;
    transition-delay: 0.5s;
  }
  #cs-modal-1605 .cs-content {
    text-align: center;
    /* 40px - 60px top & bottom */
    /* 24px - 40px left & right */
    padding: clamp(2.5rem, 8vw, 3.75rem) clamp(1.5rem, 3vw, 2.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #cs-modal-1605 .cs-close {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transition: border-color 0.3s, transform 0.5s;
  }
  #cs-modal-1605 .cs-close:hover {
    cursor: pointer;
    border-color: #e8e8e8;
    transform: rotate(90deg);
  }
  #cs-modal-1605 .cs-close img {
    width: 1.5rem;
    height: auto;
  }
  #cs-modal-1605 .cs-picture {
    width: 100%;
    height: 60vw;
    /* removed at tablet */
    max-height: 15.625rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #cs-modal-1605 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #cs-modal-1605 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    max-width: 20ch;
    /* 12px - 16px */
    margin: 0 0 clamp(0.75rem, 2vw, 1rem);
    display: block;
  }
  #cs-modal-1605 .cs-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    /* 28px - 32px */
    margin: 0 0 clamp(1.75rem, 2.5vw, 2rem);
  }
  #cs-modal-1605 .cs-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #cs-modal-1605 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    margin: 0;
    padding: 0;
    padding-left: 1.25rem;
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to width and height */
    box-sizing: border-box;
    display: block;
  }
  #cs-modal-1605 .cs-input::placeholder {
    color: #767676;
  }
  #cs-modal-1605 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primaryLight);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cs-modal-1605 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-modal-1605 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-modal-1605 .cs-submit {
    width: 100%;
    border: none;
  }
  #cs-modal-1605 .cs-submit:hover {
    cursor: pointer;
  }
  #cs-modal-1605 .cs-social {
    height: 2rem;
    margin-top: 2rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  }
  #cs-modal-1605 .cs-social-link {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    background-color: #484848;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #cs-modal-1605 .cs-social-link:hover {
    background-color: var(--primary);
  }
  #cs-modal-1605 .cs-social-link:hover .cs-social-icon {
    opacity: 1;
    filter: grayscale(1) brightness(10000%);
  }
  #cs-modal-1605 .cs-social-icon {
    width: 0.75rem;
    height: auto;
    filter: grayscale(1) brightness(1000%);
    opacity: 0.6;
    display: block;
    transition: opacity 0.6s;
  }
  #cs-modal-1605 .cs-content > * {
    margin: 10px 5px;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-modal-1605 .cs-wrapper {
    max-width: 52.875rem;
    flex-flow: row;
    align-items: stretch;
  }
  #cs-modal-1605 .cs-close {
    background-color: transparent;
    top: 1rem;
    right: 1rem;
  }
  #cs-modal-1605 .cs-content {
    width: 50%;
  }
  #cs-modal-1605 .cs-picture {
    width: 50%;
    min-height: 27rem;
    height: auto;
    max-height: 100%;
  }
}
