---
title: 'Vermont Web Design for Small Businesses | Esker Designs, Warren, Vermont'
description: 'We are a full-service Vermont web design company offering 100% hand-coded websites starting at $175/mo. We specialize in custom designs for small businesses, nonprofits, and institutions in Vermont and beyond.'
preloadImg: '/assets/images/logo.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical CSS and Preloads -->
    <link rel="preload" href="/assets/images/header-mockup.webp">
    <link rel="preload" href="/assets/images/blob-m.png">
    <link rel="preload" as="image" href="/assets/images/blob-svg.svg">

    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Netlify Identity Widget -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- Defer Google Analytics -->
    <script>
        window.addEventListener('load', function () {
            var gtagScript = document.createElement('script');
            gtagScript.src = 'https://www.googletagmanager.com/gtag/js?id=G-X729GQG8G8';
            gtagScript.async = true;
            document.head.appendChild(gtagScript);

            gtagScript.onload = function () {
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());
                gtag('config', 'G-X729GQG8G8');
            };
        });
    </script>
{% endblock %}


{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1115">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome to Esker Designs</span>
            <h2 class="cs-title">
                A Vermont Small Business Web Design Agency 
            </h2>
            <p class="cs-text">
                Get a website designed to attract customers, drive business, and impress —
                all without the burden of upfront costs. We offer 100% hand-coded websites, starting at just $175/month.
            </p>
            <a href="/contact" class="cs-button-solid">Get a Quote</a>
        </div>
        <!--Hero Image-->
        <!--We need a wrapper div around the image group so the volunteer box can be relatively positioned on mobile to make stacking the design easier -->
        <div class="cs-image-group-wrapper">
            <div class="cs-image-group" aria-hidden="true">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/header-mockup.webp" | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/header-mockup.webp" | webp %}">
                    <img decoding="async" src="{% getUrl "/assets/images/header-mockup.webp" | webp %}" alt="people">
                </picture>
                <!--Floating Icon-->
                <picture class="cs-floater" aria-hidden="true">
                    <img class="cs-floater-icon" decoding="async" fetchpriority="high" src="/assets/svgs/code.svg" alt="icon" width="52" height="52">
                </picture>
                <img class="cs-graphic cs-graphic1" aria-hidden="true" decoding="async" fetchpriority="high" src="/assets/svgs/yellow-graphic.svg" alt="icon" width="586" height="356">
                <!--Bottom Graphic-->
                <img class="cs-graphic cs-graphic2" aria-hidden="true" decoding="async" fetchpriority="high" src="/assets/svgs/green-graphic.svg" alt="icon" width="586" height="356">
            </div>
            <!--Volunteer Box-->
        <a id="jump" href="#reviews-245">
            <div class="cs-volunteer" aria-hidden="true">
                <span class="cs-header">See Our Reviews</span>
                <div class="cs-volunteer-flex">
                    <img class="cs-volunteer-img" decoding="async" fetchpriority="high" src="{% getUrl "/assets/images/moxie.webp" | resize({width: 36, height: 36}) | webp({quality: 50}) %}" alt="icon" width="48" height="48">
                    <img class="cs-volunteer-img" decoding="async" fetchpriority="high" src="{% getUrl "/assets/images/amber.webp" | resize({width: 36, height: 36}) | webp({quality: 50}) %}" alt="icon" width="48" height="48">
                    <img class="cs-volunteer-img" decoding="async" fetchpriority="high" src="{% getUrl "/assets/images/cameron.webp" | resize({width: 36, height: 36}) | webp({quality: 50}) %}" alt="icon" width="48" height="48">
                    <img class="cs-volunteer-img" decoding="async" fetchpriority="high" src="{% getUrl "/assets/images/sam-portrait.webp" | resize({width: 36, height: 36}) | webp({quality: 50}) %}" alt="icon" width="48" height="48">
                    <img class="cs-volunteer-img" decoding="async" fetchpriority="high" src="{% getUrl "/assets/images/blueberry-lake.webp" | resize({width: 36, height: 36}) | webp({quality: 50}) %}" alt="icon" width="48" height="48">
                    <span class="cs-volunteer-number">5+</span>
                </div>
                <!--Squiggly Arrow-->
                <img class="cs-arrow" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sqiggly-arrow.svg" alt="icon" width="48" height="48">
            </div>
        </a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1571" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose us</span>
            <h2 class="cs-title"><span class="emphasis">$0</span> Down, <span class="emphasis">175</span> Per Month, Year-Long Minimum Contract</h2>
            <p class="cs-text">
                Launch a professional 5-page website for your business with no upfront costs.
                Need more? We can always tailor a custom plan to fit your needs. Esker
                Designs offers affordable web design for small businesses with no hidden
                fees.
            <br>
            <br>
            You own 100% of your domain and content. Plus, cancel anytime with no fees
            or complications.
            </p>
        </div>
        <div class="cs-card-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </div>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hosting Fees Included</h3>
                        <p class="cs-item-text">
                            Your monthly payment covers hosting, so you can relax without worrying
                            about extra costs or managing your domain.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </div>
                    <div class="cs-flex">
                        <h3 class="cs-h3">24/7 Customer Service</h3>
                        <p class="cs-item-text">
                            Reach out via call or email anytime. Our Vermont based team is always here to provide fast,
                            friendly, and effective help.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </div>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Unlimited edits</h3>
                        <p class="cs-item-text">
                            We’ll make changes to existing content on your website as often as you need, free of charge. We’ll
                            complete any updates within 24 hours so your site always reflects your vision.
                        </p>
                    </div>
                </li>
            </ul>
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="{% getUrl "/assets/images/webicons.webp" | resize({width: 525, height: 525}) %}">
                <source media="(min-width: 601px)"
                        srcset="{% getUrl "/assets/images/webicons.webp" | resize({width: 614, height: 614}) %}">
                <img loading="lazy" decoding="async"
                        src="{% getUrl "/assets/images/webicons.webp" | resize({width: 614, height: 614}) %}" alt="icons"
                        aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </div>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Custom Web Development & Design</h3>
                        <p class="cs-item-text">
                            We dedicated 40-50 hours to creating and perfecting your website. We take
                            our time to work with you so you get a website you truly love.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </div>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Ongoing Website Maintenance</h3>
                        <p class="cs-item-text">
                            We'll set up Google Analytics to track your site’s performance, so we can
                            continually improve and optimize it for you.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </div>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Better Results</h3>
                        <p class="cs-item-text">
                            Hand-coded websites typically perform better than template sites. Ours often
                            score 95+ on Google Page Speed, meaning better search rankings.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>                              

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WEB DESIGN SERVICES FOR SMALL BUSINESSES in Vermont</span>
            <h2 class="cs-title">What We Do for You</h2>
            <p class="cs-text">
                We’re committed to handcrafting superior websites for small business owners
                in the Mad River Valley, Vermont, and beyond. You deserve a website that shows
                what makes you special and helps your business thrive.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-picture">
                        <img class="cs-icon" src="assets/images/mobile-first-v2.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </div>
                    <h3 class="cs-h3">Custom Web Development</h3>
                    <p class="cs-item-text">
                        No page builders or WordPress here — every website we create is hand-coded
                        from scratch. We work closely with you to design a site that perfectly captures
                        what makes your business unique.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-picture">
                        <img class="cs-icon" src="assets/images/responsive.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </div>
                    <h3 class="cs-h3">Search Engine Optimization (SEO)</h3>
                    <p class="cs-item-text">
                        We make sure your website is easy for search engines to find so more people
                        can discover your business. Plus, your site will look great and work smoothly
                        on all devices — phone, tablet, or computer.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <div class="cs-picture">
                        <img class="cs-icon" src="assets/images/optimize.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </div>
                    <h3 class="cs-h3">Website Management</h3>
                    <p class="cs-item-text">
                        Enjoy a personalized, hand-coded website that ranks higher in search
                        engines, loads quickly, and meets modern web design standards — all
                        without having to manage it yourself.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1331" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Simple, Seamless Process</span>
                <h2 class="cs-title">We Handle It All for You</h2>
            </div>
            <p class="cs-text">
                Getting a custom website has never been easier. After a brief introductory call to understand your needs, we’ll send over a simple contract and a quick questionnaire about your business. Then, we take care of the rest — crafting your content, creating the design, and getting your final approval before building the site. Typically, your new site is live in just 2-3 weeks.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 1</span>
                    <h3 class="cs-h3">Brief Questionnaire</h3>
                    <p class="cs-item-text">
                        Tell us about your business in under 10 questions — including your services and what makes you unique. We’ll handle the rest from here.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 2</span>
                    <h3 class="cs-h3">Design Review</h3>
                    <p class="cs-item-text">
                        We’ll present your custom design in a video session, and you can request any tweaks to ensure it perfectly represents your brand.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 3</span>
                    <h3 class="cs-h3">Development & Launch</h3>
                    <p class="cs-item-text">
                        Once approved, we’ll start development and share a live preview before the final launch. Your site will be live and ready for visitors!
                    </p>
                </a>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Start Now</a>
    </div>
</section>

                                


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-344" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Esker Designs Portfolio | Vermont Web Design</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://barerootscounseling.org/" target="_blank" class="cs-link">
                    <div class="cs-picture">
                        <img class="cs-icon" src="{% getUrl "/assets/images/portfolio-1.webp" | resize({ width: 266, height: 144}) %}"  width="253" height="144" loading="lazy" decoding="async" alt="Bareroots Counseling Website, Designed by Esker Designs in Vermont" aria-hidden="true">
                    </div>
                    <h3 class="cs-h3">Bareroots Counseling</h3>
                    <p class="cs-item-text">
                        See our work in action. Click here to view our recent projects.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://peak-pressurewash.com/" target="_blank" class="cs-link">
                    <div class="cs-picture">
                        <img class="cs-icon" src="{% getUrl "/assets/images/portfolio-2.webp" | resize({ width: 253, height: 144}) %}" width="253" height="144" loading="lazy" decoding="async" alt="Peak Pressure Wash Website, Designed by Esker Designs in Vermont" aria-hidden="true">
                    </div>
                    <h3 class="cs-h3">Peak Pressure Wash</h3>
                    <p class="cs-item-text">
                        See our work in action. Click here to view our recent projects.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://alpenglowcounselingvt.com/" target="_blank" class="cs-link">
                    <div class="cs-picture">
                        <img class="cs-icon" src="{% getUrl "/assets/images/portfolio-3.png" | resize({ width: 253, height: 144}) | webp %}" width="253" height="144" loading="lazy" decoding="async" alt="Alpenglow Counseling Website, Designed by Esker Designs in Vermont" aria-hidden="true">
                    </div>
                    <h3 class="cs-h3">Alpenglow Counseling</h3>
                    <p class="cs-item-text">
                        See our work in action. Click here to view our recent projects.
                    </p>
                </a>
            </li>
        </ul>
        <!-- <a href="" class="cs-button-solid">View Portfolio</a> -->
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1348" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WHO WE ARE</span>
            <h2 class="cs-title">Meet Your Web Developer, Sam</h2>
            <p class="cs-text">
                I’m Sam, a Community Planner and Web Developer based in Central Vermont. My journey began with early mornings and self-taught
                coding sessions before work. Over time, I got my craft down to a science. <br>
                <br>
                I noticed many small business owners in Vermont paid too much for websites that didn’t
                meet their expectations or deliver results. DIY and template options often fell
                short, too. <br>
                <br>
                That’s why I founded Esker Designs — to offer top-quality web design services
                for small businesses in Central Vermont, without hefty upfront costs. I’m passionate about
                bringing your vision to life and look forward to collaborating with you.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-picture-wrapper">
                    <div class="blob-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="assets/images/sam-port-v3.webp">
                            <source media="(min-width: 601px)"
                                    srcset="assets/images/sam-port-v3.webp">
                            <img decoding="async"
                                    src="assets/images/sam-portrait.webp"
                                    alt="person" width="413" height="374" loading="lazy" aria-hidden="true">
                        </picture>
                    </div>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-245" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Testimonials</span>
            <h2 class="cs-title">Trusted Web Designer for Vermont and Beyond</h2>
            <p class="cs-text">
                We’ve helped small business owners across Vermont and beyond build the websites they’ve always wanted. At Esker Designs, we’re as committed to our clients as they are to their businesses. When you choose to work with us, you’re not just hiring a web design agency — you’re gaining a dedicated partner invested in your success.
            </p>
        </div>
        
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/cameron.jpeg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam has done a fantastic job with web design and online ranking of my business! His rates were affordable and his customer service is incredible. Very easy to work with and has the heart of a teacher.”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Cameron Shatswell
                        <span class="cs-desc">Owner, Peak Pressure Wash</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/moxie.jpg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true" alt="profile picture" width="72" height="72">
                <p class="cs-item-text">
                    “Esker shows great awareness to detail, works collaboratively, and delivers a website to suit your needs. I highly recommend Esker Designs for small businesses who want to work with a real person, get real time tech support, and work alongside someone to cultivate their brand in the digital world!” 
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Moxie Craig
                        <span class="cs-desc">Owner, Bareroots Counseling</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="{% getUrl "/assets/images/amber.jpeg" | resize({ width: 144, height: 144}) %}" loading="lazy" decoding="async" alt="A Photo of a Customer" aria-hidden="true">
                <p class="cs-item-text">
                    “Sam was fantastic to work with. He has an incredible eye for design and captured exactly what I wanted my website to look like. He has streamlined systems that allow for easy collaboration throughout the process and he was quick to respond throughout the editing stage. I appreciate the option for Sam to make changes to my website as my business grows and shifts. If you're looking for someone to really capture the essence of you and your business, look no further!”
                </p>
                <div class="cs-flex-group">
                    <span class="cs-reviewer">
                        Amber Banta
                        <span class="cs-desc">Owner, Alpenglow Counseling</span>
                    </span>
                    <span class="cs-rating">5.0</span>
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars-yellow.svg" alt="stars" width="96" height="16">
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1384" class="observed-section">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Flexible Pricing Plans for Every Budget</h2>
            <p class="cs-text">
                In today’s fast-paced digital world, having a reliable, future-ready website is essential. At Esker Designs, we provide custom web design and development solutions tailored for Vermont businesses of all sizes. We’re committed to delivering top-tier web development services that fit your needs. Don’t see a package that works for you? Reach out, and let's discuss a solution that meets your goals.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">LUMP SUM</span>
                    <span class="cs-price">
                        $3500
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design & Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        25$/mo hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        $100 fee Per Page after 5
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 To Add A Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$50/mo Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check-2.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Lifetime Updates
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="/contact" class="cs-button-transparent">Start Today!</a>
            </li>
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">MONTHLY</span>
                    <span class="cs-price">
                        $175
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design & Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Includes Hosting
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        $100 fee Per Page After 5
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        +$250 To Add A Blog
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Lifetime Updates
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="/contact" class="cs-button-transparent">Start Today!</a>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">E-COMMERCE</span>
                    <span class="cs-price">
                        $6000
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="/assets/svgs/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Design & Development
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Custom Shopify Store
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Integrated Shipping
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Shopify Tutorial Walkthrough
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Fully Editable In Shopify CMS
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/check.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        +$50/mo Unlimited Edits
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        24/7 Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="/assets/svgs/cancel.svg"
                        alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="/contact" class="cs-button-transparent">Start Today!</a>
            </li>
        </ul>
    </div>
</section>
                        
                                

<!-- ============================================ -->
<!--                Pop Up Modal                  -->
<!-- ============================================ --> 

<!-- <div id="cs-modal-1605" style="z-index: -10">
    <div class="cs-wrapper">
        <button id="cs-close-1605" class="cs-close" aria-label="close pop up">
            <img decoding="async" src="/assets/images/checkmark.svg" alt="clothing" width="24" height="24" aria-hidden="true">
        </button>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/ecom.png" | resize({width: 686, height: 550}) | webp %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/ecom.png" | resize({width: 783, height: 864}) | webp %}">
            <img loading="lazy" decoding="async" src="{% getUrl "/assets/images/ecom.png" | resize({width: 783, height: 864}) | webp %}" alt="Ecommerce Site Preview">
        </picture>
        <div class="cs-content">
            <span class="cs-header">
                We are now offering E-commerce Store Development!
            </span>
            <p>Click below to view our demo site.</p>
            <a href="https://upland-ecommerce.netlify.app/" target="_blank" class="cs-button-solid">View Site</a>
        </div>
    </div>
</div> -->

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.querySelectorAll('a.cs-li-link');

    navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            const href = this.getAttribute('href');
            if (href.startsWith('/index#')) {
                const targetId = href.split('#')[1];
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    event.preventDefault();
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            }
        });
    });
});
</script>                                 

    {% include 'components/cta.html' %}
{% endblock %}