---
title: 'Vermont Web Design for Small Businesses | Esker Designs, Warren, Vermont'
description: 'We are a full-service Vermont web design company offering 100% hand-coded websites starting at $150/mo. We specialize in custom designs for small businesses, nonprofits, and institutions in Vermont and beyond.'
preloadImg: '/assets/images/blob-svg.svg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X729GQG8G8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X729GQG8G8');
    </script>

    <link rel="preload" href="/assets/images/header-mockup.webp">
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1951">
    <div class="cs-container">
        <div class="cs-content">
            <h5 class="cs-topper">Welcome to Esker Designs</h5>
            <h2 class="cs-title">
                A Vermont Small Business Web Development Agency 
            </h2>
            <p class="cs-text">
                Get a website designed to attract customers, drive business, and impress —
                all without the burden of upfront costs. We offer 100% hand-coded yet
                affordable web design for small businesses, starting at just $150/month.
            </p>
            <a class="cs-button-solid" href="#services-285">Learn more</a>
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/header-mockup.webp" | resize({width: 300, height: 279}) | webp({quality: 30}) %}">
            <source media="(min-width: 601px)" srcset="{% getUrl "/assets/images/header-mockup.webp" | resize({width: 500, height: 500}) | webp({quality: 30}) %}">
            <img decoding="async" src="{% getUrl "/assets/images/header-mockup.webp" | resize({width: 500, height: 500}) | webp({quality: 30}) %}" alt="Decorative squiggles" loading="lazy" width="305" height="600" aria-hidden="true">
        </picture>
    </div>
</section>
                                
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WEB DESIGN SERVICES FOR SMALL BUSINESSES</span>
            <h2 class="cs-title">What We Do for You</h2>
            <p class="cs-text">
                We’re committed to handcrafting superior websites for small business owners
                in the Mad River Valley, Vermont, and beyond. You deserve a website that shows
                what makes you special and helps your business thrive.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="assets/images/mobile-first-v2.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Custom Web Development</h3>
                    <p class="cs-item-text">
                        No page builders or WordPress here — every website we create is hand-coded
                        from scratch. We work closely with you to design a site that perfectly captures
                        what makes your business unique.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="assets/images/responsive.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Search Engine Optimization (SEO)</h3>
                    <p class="cs-item-text">
                        We make sure your website is easy for search engines to find so more people
                        can discover your business. Plus, your site will look great and work smoothly
                        on all devices — phone, tablet, or computer.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="assets/images/optimize.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Website Management</h3>
                    <p class="cs-item-text">
                        Enjoy a personalized, hand-coded website that ranks higher in search
                        engines, loads quickly, and meets modern web design standards — all
                        without having to manage it yourself.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1571">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose us</span>
            <h2 class="cs-title"><span class="emphasis">$0</span> Down, <span class="emphasis">$150</span> Per Month, Year-Long Minimum Contract</h2>
            <p class="cs-text">
                Launch a professional 5-page website for your business with no upfront costs.
                Need more? We can always tailor a custom plan to fit your needs. Esker
                Designs offers affordable web design for small businesses with no hidden
                fees.
            <br>
            <br>
            You own 100% of your domain and content. Plus, cancel anytime with no fees
            or complications.
            </p>
        </div>
        <div class="cs-card-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hosting Fees Included</h3>
                        <p class="cs-item-text">
                            Your monthly payment covers hosting, so you can relax without worrying
                            about extra costs or managing your domain.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">24/7 Customer Service</h3>
                        <p class="cs-item-text">
                            Reach out via call or email anytime. Our team is always here to provide fast,
                            friendly, and effective help.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Unlimited edits</h3>
                        <p class="cs-item-text">
                            We’ll make changes to existing content on your website as often as you need, free of charge. We’ll
                            complete any updates within 24 hours so your site always reflects your vision.
                        </p>
                    </div>
                </li>
            </ul>
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="assets/images/webicons.webp">
                <source media="(min-width: 601px)"
                        srcset="assets/images/webicons.webp">
                <img loading="lazy" decoding="async"
                        src="assets/images/webicons.webp" alt="icons"
                        width="510" height="193" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Custom Web Development & Design</h3>
                        <p class="cs-item-text">
                            We dedicated 40-50 hours to creating and perfecting your website. We take
                            our time to work with you so you get a website you truly love.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Ongoing Website Maintenance</h3>
                        <p class="cs-item-text">
                            We set up Google Analytics to track your site’s performance, so we can
                            continually improve and optimize it for you.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Better Results</h3>
                        <p class="cs-item-text">
                            Hand-coded websites typically perform better than template sites. Ours often
                            score 95+ on Google Page Speed, meaning better search rankings.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-344">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Esker Designs Portfolio | Vermont Web Design</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="https://barerootscounseling.org/" target="_blank" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="{% getUrl "/assets/images/portfolio-1.webp" | resize({ width: 266, height: 144}) %}" loading="lazy" decoding="async" alt="Bareroots Counseling Website, Designed by Esker Designs in Vermont" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Bareroots Counseling</h3>
                    <p class="cs-item-text">
                        See our work in action. Click here to view our recent projects.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="https://peak-pressurewash.com/" target="_blank" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="{% getUrl "/assets/images/portfolio-2.webp" | resize({ width: 253, height: 144}) %}" loading="lazy" decoding="async" alt="Peak Pressure Wash Website, Designed by Esker Designs in Vermont" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Peak Pressure Wash</h3>
                    <p class="cs-item-text">
                        See our work in action. Click here to view our recent projects.
                    </p>
                </a>
            </li>
        </ul>
        <!-- <a href="" class="cs-button-solid">View Portfolio</a> -->
    </div>
</section>
                                

<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1348">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WHO WE ARE</span>
            <h2 class="cs-title">Meet Your Web Developer, Sam</h2>
            <p class="cs-text">
                I’m Sam, a Community Planner and Web Developer based in Central Vermont. My journey began with early mornings and self-taught
                coding sessions before work. Over time, I got my craft down to a science. <br>
                <br>
                I noticed many small business owners in Vermont paid too much for websites that didn’t
                meet their expectations or deliver results. DIY and template options often fell
                short, too. <br>
                <br>
                That’s why I founded Esker Designs — to offer top-quality web design services
                for small businesses in Central Vermont, without hefty upfront costs. I’m passionate about
                bringing your vision to life and look forward to collaborating with you.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-picture-wrapper">
                    <div class="blob-wrapper">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                    srcset="assets/images/sam-port-v3.webp">
                            <source media="(min-width: 601px)"
                                    srcset="assets/images/sam-port-v3.webp">
                            <img decoding="async"
                                    src="assets/images/sam-portrait.webp"
                                    alt="person" width="413" height="374" loading="lazy" aria-hidden="true">
                        </picture>
                    </div>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

                                

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const navLinks = document.querySelectorAll('a.cs-li-link');

    navLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            const href = this.getAttribute('href');
            if (href.startsWith('/index#')) {
                const targetId = href.split('#')[1];
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    event.preventDefault();
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            }
        });
    });
});
</script>                                 

    {% include 'components/cta.html' %}
{% endblock %}