---
title: 'Esker Web Design - Web Design Made Simple - Warren, VT'
description: 'Meta description for the page'
preloadImg: '/assets/images/logo.png'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1349">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome To Esker Designs</span>
            <h1 class="cs-title">A Small Business Web Design & Development Agency</h1>
            <p class="cs-text">
                No page builders or WordPress - We offer superior 100% hand-coded websites with starting at $150/mo.
            </p>
            <a href="" class="cs-button-solid">Free Consultation</a>
        </div>
    </div>
    <!--Bubble Groups-->
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/hero.webp">
        <source media="(min-width: 601px)" srcset="assets/images/hero.webp">
        <img decoding="async" src="assets/images/hero.webp" alt="overview of glacier" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Best-In-Class</span>
            <h2 class="cs-title">What We Do</h2>
            <p class="cs-text">
                We focus on designing and developing websites for small businesses in Vermont & beyond. With Esker, every line of code is handcrafted to ensure optimal performance, attracting more visitors to your site and increasing your business revenue.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="assets/images/mobile-first-v2.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Mobile-First Design</h3>
                    <p class="cs-item-text">
                        We begin by designing your site for mobile devices, then progressively enhance it to ensure compatibility with tablets and desktops.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="assets/images/responsive.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Fully Responsive</h3>
                    <p class="cs-item-text">
                        Your website will be optimized to fit all mobile screen sizes, tablets, and desktops, ensuring new clients can access your site from anywhere.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="assets/images/optimize.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Optimized Approach</h3>
                    <p class="cs-item-text">
                        With 60% of all internet traffic coming from mobile devices, we optimize your mobile site to perform at its best in search engine rankings.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1571">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose us</span>
            <h2 class="cs-title"><span class="emphasis">$0</span> Down, <span class="emphasis">$125</span> Per Month, Year-Long Minimum Contract</h2>
        </div>
        <div class="cs-card-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hosting Fees Included</h3>
                        <p class="cs-item-text">
                            We factor hosting fees into your monthly payment, so you never have to worry about your domain.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">24/7 Customer Service</h3>
                        <p class="cs-item-text">
                            Call or email anytime throughout the day or night to reach one of our dvelopers directly.
                        </p>
                    </div>
                </li>
            </ul>
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="assets/images/webicons.webp">
                <source media="(min-width: 601px)"
                        srcset="assets/images/webicons.webp">
                <img loading="lazy" decoding="async"
                        src="assets/images/webicons.webp" alt="icons"
                        width="510" height="193" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Unlimited edits</h3>
                        <p class="cs-item-text">
                            Requested changes to existing pages will be completed within 24 hours, every time.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async"
                                src="assets/images/checkmark.svg"
                                alt="car" width="24" height="24" aria-hidden="true">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Web Design & Development</h3>
                        <p class="cs-item-text">
                            Includes 40 - 50 hours of design, development & testing. We take our client's vision seriously.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1348">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">WHO WE ARE</span>
            <h2 class="cs-title">Hi - I'm Sam.</h2>
            <p class="cs-text">
                I am a Community Planner and Web Developer in Warren, VT. I started this business after two years of waking up at 5 AM each morning to teach myself to code before work. Web development scratched both an analytical, systematic part of my brain, as well as a desire to create something beautiful. <br>
                <br>
                I really hope we can work together on a project, so don't hesitate to reach out!
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="assets/images/Black Balsam (2 of 6).jpg">
                        <source media="(min-width: 601px)"
                                srcset="assets/images/Black Balsam (2 of 6).jpg">
                        <img decoding="async"
                                src="assets/images/Black Balsam (2 of 6).jpg"
                                alt="person" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                        width="22" height="22">
                        </a>
                        <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                        width="17" height="16">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                        width="22" height="22">
                        </a>
                        <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                        width="17" height="16">
                        </a>
                    </div>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Sam Robinson</span>
                    <span class="cs-job">Owner</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-543">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Performance</span>
            <h2 class="cs-title">Web Design Company You Can Trust</h2>
            <p class="cs-text">
                Our web design company specializes in the professional creation of clean, fast, and personalized websites. 
            </p>
        </div>
        <!--SVG Circles-->
        <ul class="cs-circles">
            <li class="cs-item">
                <div class="cs-ring-wrapper">
                    <span class="cs-number">50<span class="cs-percentage">%</span></span>
                    <!--Change the --ratio to the decimal percentage of this circle-->
                    <svg class="cs-ring" style="--ratio: 0.50">
                        <circle cx="50%" cy="50%" r="50%"/>
                        <circle cx="50%" cy="50%" r="50%"/>
                    </svg>
                </div>
                <h3 class="cs-h3">Page Speed</h3>
                <span class="cs-desc">Hand-coded websites are typically 30-50% faster than those built with page builders due to cleaner, leaner code.</span>
            </li>
            <li class="cs-item">
                <div class="cs-ring-wrapper">
                    <span class="cs-number">64<span class="cs-percentage">%</span></span>
                    <!--Change the --ratio to the decimal percentage of this circle-->
                    <svg class="cs-ring" style="--ratio: 0.64">
                        <circle cx="50%" cy="50%" r="50%"/>
                        <circle cx="50%" cy="50%" r="50%"/>
                    </svg>
                </div>
                <h3 class="cs-h3">Cost Savings</h3>
                <span class="cs-desc">64% of companies say that improving website performance significantly lowers their operational costs.</span>
            </li>
            <li class="cs-item">
                <div class="cs-ring-wrapper">
                    <span class="cs-number">60<span class="cs-percentage">%</span></span>
                    <!--Change the --ratio to the decimal percentage of this circle-->
                    <svg class="cs-ring" style="--ratio: 0.60">
                        <circle cx="50%" cy="50%" r="50%"/>
                        <circle cx="50%" cy="50%" r="50%"/>
                    </svg>
                </div>
                <h3 class="cs-h3">Mobile-First</h3>
                <span class="cs-desc">60% of all internet traffic is on mobile devices. We make sure to account for this in our code, every time.</span>
            </li>
            <li class="cs-item">
                <div class="cs-ring-wrapper">
                    <span class="cs-number">10<span class="cs-percentage">%</span></span>
                    <!--Change the --ratio to the decimal percentage of this circle-->
                    <svg class="cs-ring" style="--ratio: 0.10">
                        <circle cx="50%" cy="50%" r="50%"/>
                        <circle cx="50%" cy="50%" r="50%"/>
                    </svg>
                </div>
                <h3 class="cs-h3">SEO</h3>
                <span class="cs-desc">Hand-coded websites have cleaner HTML and CSS. Websites with clean, semantic HTML see up to a 10% increase in search engine visibility.</span>
            </li>
        </ul>
    </div>
</section>
                                                 

    {% include 'components/cta.html' %}
{% endblock %}